h1{
    background-color: antiquewhite;
color: tomato;
padding: 40px;
}
p{
    letter-spacing: 0px;
    background-color: gray;
    color: blueviolet;
}
ul{
    background-color: gray;
    color: blueviolet;
}

